<nav>
    <ul class="nav-left">
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/team">TEAM</a></li>
        <li><a href="/booking">BOOKING</a></li>
    </ul>
    <ul class="nav-right">
        <li><a href="/menu">MENU</a></li>
        <li><a href="/galerie">GALERIE</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/feedback">FEEDBACK</a></li>
    </ul>
</nav>