<%- include('./partials/header') %>
    <main>
        <section class="about-section two-grid">
            <article>
                <h1>ABOUT US</h1>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a,
                    tempor
                    magna.</h3>
                <p>
                    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula.
                    Sed
                    dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem.
                    Mauris
                    tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
                </p>
            </article>
            <figure>
                <img src="/assets/img/about-img-group.png" alt="">
            </figure>

        </section>

    </main>
    <%- include('./partials/footer') %>