<%- include('./partials/header') %>

    <main>
        <section class="two-grid">
            <article class="black-font">
                <h1>BOOK A TABLE</h1>
                <form action="">
                    <div>
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email">
                    </div>
                    <div>
                        <input type="text" placeholder="Phone">
                        <select name="" id="">
                            <option value="" disabled selected>People</option>

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="8">9</option>
                            <option value="8">10</option>
                            <option value="more">For more than 10 people, please contact us</option>
                        </select>
                    </div>
                    <div>
                        <input type="text" placeholder="Date(mm/dd)">
                        <select name="time" id="">
                            <option value="" disabled selected>Time</option>

                            <option value="">15:00</option>
                            <option value="">15:15</option>
                            <option value="">15:30</option>
                            <option value="">15:45</option>
                            <option value="">16:00</option>
                            <option value="">16:15</option>
                            <option value="">16:30</option>
                        </select>
                    </div>
                    <input type="submit" value="BOOK NOW">
                </form>
            </article>
            <figure>
                <img src="/assets/img/booking-img-group.png" alt="">
            </figure>

        </section>
        <p class="tel">Mon - Fri: <span>8PM - 10PM,</span> Sat - Sun: <span></span>8PM - 3AM,</span> Phone:
            <span>+40 729 131 637/+40 726
                458 782</span>
        </p>
    </main>
    <%- include('./partials/footer') %>