<%- include('./partials/header') %>

    <main>
        <div class="black-font">
            <h1>CONTACT</h1>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h3>
            <form action="">
                <div>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Phone">
                </div>
                <textarea name="" cols="30" rows="5">Message</textarea>
                <div>

                    <span> 5th London Boulevard, U.K.
                         +40 729 131 637/+40 726 458 782
                         office@mindblister.com</span>

                    <input type="submit" value="SEND MESSAGE">
                </div>
            </form>
        </div>


    </main>


    <%- include('./partials/footer') %>