<%- include('./partials/header') %>

    <section class="events-section">

        <h3>PRIVATE EVENTS</h3>
        <div class="two-grid">
            <div>
                <img src="/assets/img/events-img-group 1.png" alt="">
            </div>
            <div>
                <img src="/assets/img/events-img-group 2.png" alt="">
            </div>
        </div>
        <p class="events-tel">For private events please call: <span>+40 729 131 637/+40 726 458 782</span> or use the
            contact form.
        </p>
    </section>
    </main>

    <%- include('./partials/footer') %>