<%- include('./partials/header') %>

    <section class="two-grid">
        <article class="black-font">
            <h1>YOUR FEEDBACK</h1>
            <form action="">
                <div class="input-two">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Stars">
                </div>

                <textarea name="" cols="30" rows="5">Your message</textarea>
                <input type="submit" value="SEND NOW">
            </form>
        </article>
        <figure>
            <img src="/assets/img/feedback-img.png" alt="">
        </figure>
    </section>
    <p class="tel">Mon - Fri: <span>8PM - 10PM,</span> Sat - Sun: <span></span>8PM - 3AM,</span> Phone:
        <span>+40 729 131 637/+40 726
            458 782</span>
    </p>
    </main>
    <%- include('./partials/footer') %>