<%- include('./partials/header') %>

    <section class="galerie-section">
        <h3>SPECIALTIES</h3>
        <div class="two-grid">
            <div>
                <img src="/assets/img/galerie-img-group.png" alt="">
            </div>
            <article>
                <h1>CHOCOLATE PANCAKES</h1>
                <h3>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a,
                    tempor
                    magna.
                </h3>
                <p>
                    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula.
                    Sed
                    dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem.
                    Mauris
                    tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
                </p>
            </article>
        </div>
    </section>
    </main>

    <%- include('./partials/footer') %>